In [17]:
import pandas as pd
import numpy as np

In [2]:
##Uploading the datasets
df_training = pd.read_csv('lc_loan.csv')
df_test = pd.read_csv('lc_2016_2017.csv')

/Users/alextyryshkin/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/alextyryshkin/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (18,54) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
## Creating a list of columns where the number of missing values is 866007
columns_866007 = []
for col in columns:
    if df_training[col].isna().sum() == 866007:
        columns_866007.append(col)

In [5]:
## Dropping the columns with 866007 missing values from the dataframe
df_training = df_training.drop(columns_866007, 1)
df_training.isna().sum()

id                         0
member_id                  0
loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
                       ...
tot_coll_amt           70276
tot_cur_bal            70276
mths_since_rcnt_il    866569
il_util               868762
total_rev_hi_lim       70276
Length: 62, dtype: int64

In [6]:
### The other columns to drop are:
list_one = ['member_id', 'mths_since_rcnt_il','il_util','annual_inc_joint'] 
list_two = ['dti_joint', 'verification_status_joint', 'mths_since_last_major_derog', 'desc']
list_three = ['url', 'title']

In [7]:
## Dropping the columns from list_one
df_training = df_training.drop(list_one, 1)

In [8]:
## Dropping the columns from list_two
df_training = df_training.drop(list_two, 1)

In [16]:
## We are now working with df_training_one ##
df_training_one = df_training

In [22]:
## Putting values in 'emp_title' with value_counts below 5000 into the category other
x = df_training_one['emp_title'].value_counts()
df_training_one['new_emp_title'] = np.where(df_training_one['emp_title'].isin(x.index[x >= 5000]), df_training_one['emp_title'], 'Other')

In [30]:
## We are now working with df_training_two
## Dropping the column 'emp_title'
df_training_two = df_training_one.drop('emp_title', 1)

In [35]:
df_training_two['collections_12_mths_ex_med'].fillna(method ='ffill', inplace = True)

In [37]:
df_training_two['emp_length'].fillna(method ='ffill', inplace = True)

In [38]:
df_training_two['last_pymnt_d'].fillna(method ='ffill', inplace = True)

In [39]:
df_training_two['tot_coll_amt'].fillna(method ='ffill', inplace = True)

In [40]:
df_training_two['tot_cur_bal'].fillna(method ='ffill', inplace = True)

In [41]:
df_training_two['total_rev_hi_lim'].fillna(method ='ffill', inplace = True)

In [42]:
df_training_two['revol_util'].fillna(method ='bfill', inplace = True)

In [83]:
## Dropping rows where column 'delinq_2yrs' has missing values
df_training_two.dropna(axis=0, subset=['delinq_2yrs'], inplace = True)

In [84]:
df_training_two.dropna(axis=0, subset=['revol_util'], inplace = True)

In [85]:
df_training_two.dropna(axis=0, subset=['last_credit_pull_d'], inplace = True)

In [86]:
df_training_two.dropna(axis=0, subset=['tot_coll_amt'], inplace = True)

In [88]:
mths_since_list = ['mths_since_last_delinq', 'mths_since_last_record']
df_training_three = df_training_two.drop(mths_since_list, 1)

In [95]:
## There are no more missing values at this point
df_training_obj = df_training_three

In [ ]:
### DEALING WITH OBJECTS

In [93]:
## Dealing with objects ## converting to int64 or dummy variables  ##
list_obj_one = ['term', 'grade', 'sub_grade', 'emp_length', 'home_ownership', 'verification_status']
list_obj_two = ['issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'zip_code', 'addr_state', 'earliest_cr_line']
list_obj_three = ['initial_list_status', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 'application_type']
list_obj_four = ['new_emp_title', 'new_next_pymnt_d']

In [ ]:
## Code template to convert to int 64
# df_training_obj['term'] = df_training_obj.term.str.extract('(\d+)')
# df_training_obj['term'] = df_training_obj['term'].astype('int64')

In [96]:
df_training_obj['term'] = df_training_obj.term.str.extract('(\d+)')
df_training_obj['term'] = df_training_obj['term'].astype('int64')

In [97]:
df_training_obj['emp_length'] = df_training_obj.emp_length.str.extract('(\d+)')
df_training_obj['emp_length'] = df_training_obj['emp_length'].astype('int64')

In [98]:
df_training_obj['earliest_cr_line'] = df_training_obj.earliest_cr_line.str.extract('(\d+)')
df_training_obj['earliest_cr_line'] = df_training_obj['earliest_cr_line'].astype('int64')

In [99]:
df_training_obj['issue_d'] = df_training_obj.issue_d.str.extract('(\d+)')
df_training_obj['issue_d'] = df_training_obj['issue_d'].astype('int64')

In [100]:
df_training_obj['zip_code'] = df_training_obj.zip_code.str.extract('(\d+)')
df_training_obj['zip_code'] = df_training_obj['zip_code'].astype('int64')

In [101]:
df_training_obj['last_pymnt_d'] = df_training_obj.last_pymnt_d.str.extract('(\d+)')
df_training_obj['last_pymnt_d'] = df_training_obj['last_pymnt_d'].astype('int64')

In [102]:
df_training_obj['last_credit_pull_d'] = df_training_obj.last_credit_pull_d.str.extract('(\d+)')
df_training_obj['last_credit_pull_d'] = df_training_obj['last_credit_pull_d'].astype('int64')

In [265]:
## All numbers hidden in objects were converted into int64
df_training_dummy = df_training_obj

In [104]:
## Code template to convert to dummy variable
# df_training_dummy['pymnt_plan']
# df_training_dummy = pd.concat([df_training_dummy.drop('pymnt_plan', axis = 1), pd.get_dummies(df_training_dummy['pymnt_plan'], prefix = 'pymnt_plan')], axis = 1)

In [390]:
df_training_obj.to_csv('training_vis')

In [266]:
df_training_dummy = pd.concat([df_training_dummy.drop('initial_list_status', axis = 1), pd.get_dummies(df_training_dummy['initial_list_status'], prefix = 'initial_list_status')], axis = 1)

In [267]:
df_training_dummy = pd.concat([df_training_dummy.drop('home_ownership', axis = 1), pd.get_dummies(df_training_dummy['home_ownership'], prefix = 'home_ownership')], axis = 1)

In [268]:
df_training_dummy = pd.concat([df_training_dummy.drop('pymnt_plan', axis = 1), pd.get_dummies(df_training_dummy['pymnt_plan'], prefix = 'pymnt_plan')], axis = 1)

In [269]:
df_training_dummy = pd.concat([df_training_dummy.drop('purpose', axis = 1), pd.get_dummies(df_training_dummy['purpose'], prefix = 'purpose')], axis = 1)

In [270]:
df_training_dummy = pd.concat([df_training_dummy.drop('addr_state', axis = 1), pd.get_dummies(df_training_dummy['addr_state'], prefix = 'addr_state')], axis = 1)

In [112]:
#df_training_dummy = pd.concat([df_training_dummy.drop('application_type', axis = 1), pd.get_dummies(df_training_dummy['application_type'], prefix = 'application_type')], axis = 1)

In [113]:
df_training_dummy = pd.concat([df_training_dummy.drop('new_emp_title', axis = 1), pd.get_dummies(df_training_dummy['new_emp_title'], prefix = 'new_emp_title')], axis = 1)

In [275]:
## DELETING COLUMNS 'next_pymnt_d' and 'new_next_pymnt_d'
missed_obj_to_drop = ['next_pymnt_d', 'new_next_pymnt_d']
df_training_dummy_two = df_training_dummy.drop(missed_obj_to_drop, 1)

In [290]:
## Putting values in 'grade' with value_counts below 100000 into the category grade_EFG
x = df_training_dummy_two['grade'].value_counts()
df_training_dummy_two['grade_ABCD'] = np.where(df_training_dummy_two['grade'].isin(x.index[x >= 100000]), df_training_dummy_two['grade'], 'grade_EFG')

In [291]:
## Creating dummy variables for a column 'grade'
df_training_dummy_two = pd.concat([df_training_dummy_two.drop('grade_ABCD', axis = 1), pd.get_dummies(df_training_dummy_two['grade_ABCD'], prefix = 'grade_ABCD')], axis = 1)

In [278]:
## Putting values in 'verification_status' with value_counts below 270000 into the category Not_verified
x = df_training_dummy_two['verification_status'].value_counts()
df_training_dummy_two['Verified'] = np.where(df_training_dummy_two['verification_status'].isin(x.index[x >= 270000]), df_training_dummy_two['verification_status'], 'Not_verified')

In [279]:
## Creating dummy variables for a column 'verification_status'
df_training_dummy_two = pd.concat([df_training_dummy_two.drop('Verified', axis = 1), pd.get_dummies(df_training_dummy_two['Verified'], prefix = 'verified')], axis = 1)

In [281]:
df_training_dummy_two = df_training_dummy

In [300]:
df_training_dummy_three = df_training_dummy_two

In [301]:
sub_to_drop_A = ['sub_grade_ABCD_A1', 'sub_grade_ABCD_A2', 'sub_grade_ABCD_A3', 'sub_grade_ABCD_A4', 'sub_grade_ABCD_A5']
sub_to_drop_B = ['sub_grade_ABCD_B1', 'sub_grade_ABCD_B2', 'sub_grade_ABCD_B3', 'sub_grade_ABCD_B4', 'sub_grade_ABCD_B5']
sub_to_drop_C = ['sub_grade_ABCD_C1', 'sub_grade_ABCD_C2', 'sub_grade_ABCD_C3', 'sub_grade_ABCD_C4', 'sub_grade_ABCD_C5']
sub_to_drop_defg = ['sub_grade_ABCD_D1', 'sub_grade_ABCD_D2', 'sub_grade_ABCD_D3', 'sub_grade_ABCD_D4', 'sub_grade_ABCD_D5','sub_grade_ABCD_sub_grade_EFG']

In [302]:
df_training_dummy_three = df_training_dummy_three.drop(sub_to_drop_A, 1)

In [303]:
df_training_dummy_three = df_training_dummy_three.drop(sub_to_drop_B, 1)

In [304]:
df_training_dummy_three = df_training_dummy_three.drop(sub_to_drop_C, 1)

In [305]:
df_training_dummy_three = df_training_dummy_three.drop(sub_to_drop_defg, 1)

In [319]:
df_training_dummy_three = df_training_dummy_three.drop('next_pymnt_d', 1)

In [321]:
df_training_dummy_three = df_training_dummy_three.drop('purpose_educational', 1)

In [315]:
df_training_dummy_four = df_training_dummy_three

In [336]:
ls_four_drop = ['grade', 'sub_grade', 'verification_status', 'application_type', 'new_emp_title', 'new_next_pymnt_d']
df_training_dummy_four = df_training_dummy_four.drop(ls_four_drop, 1)

In [340]:
df_training_dummy_four = df_training_dummy_four.drop('next_pymnt_d', 1)

In [ ]:
### predictor variable ### ### 'loan_status' ###

In [344]:
x = df_training_dummy_four['loan_status'].value_counts()
df_training_dummy_four['loan_status_current'] = np.where(df_training_dummy_four['loan_status'].isin(x.index[x >= 100000]), df_training_dummy_four['loan_status'], 'Current')

In [345]:
x = df_training_dummy_four['loan_status'].value_counts()
df_training_dummy_four['loan_status_late'] = np.where(df_training_dummy_four['loan_status'].isin(x.index[x <= 40000]), df_training_dummy_four['loan_status'], 'Late')

In [346]:
di = {"Current": 0, "Fully Paid": 1, "Late": 2}

In [347]:
df_training_dummy_four = df_training_dummy_four.replace({"loan_status_current": di})

In [348]:
df_training_dummy_four["loan_status_current"].value_counts()

0    669237
1    175558
Name: loan_status_current, dtype: int64

In [367]:
df_training_dummy_five = df_training_dummy_four

In [369]:
loan_drop = ['loan_status', 'loan_status_late']
df_training_dummy_five = df_training_dummy_five.drop(loan_drop, 1)

In [378]:
df_training_dummy_five['loan_status_current'] = df_training_dummy_five['loan_status_current'].astype('int64')

In [389]:
### Exporting the cleaned training dataset
df_training_dummy_five.to_csv('training_clean')

In [ ]:
######

In [ ]:
###

In [ ]:
## REPEATING THE PROCESS FOR df_test

In [ ]:
###

In [173]:
#Saving the progress made in removing columns from df_test
#Columns removed:
ls_one = ['annual_inc_joint', 'dti_joint', 'verification_status_joint', 'desc', 'member_id']
ls_two = ['mths_since_last_delinq', 'mths_since_last_record']
df_test_one = df_test

In [176]:

## Putting values in 'emp_title' with value_counts below 5000 into the category other '6406'
x = df_test_one['emp_title'].value_counts()
df_test_one['new_emp_title'] = np.where(df_test_one['emp_title'].isin(x.index[x >= 5000]), df_test_one['emp_title'], 'Other')

In [177]:
## We are now working with df_test_two
## Dropping the column 'emp_title'
df_test_two = df_test_one.drop('emp_title', 1)

In [179]:
## Using ffill to fill the replace the missing values in the columns in the list
ffill_col_list = ['collections_12_mths_ex_med', 'emp_length', 'last_pymnt_d', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim']
for col in ffill_col_list:
    df_test_two[col].fillna(method ='ffill', inplace = True)

In [180]:
## Using bfill to fill the missing values in column 'revol_util'
df_test_two['revol_util'].fillna(method ='bfill', inplace = True)

In [184]:
## Dropping rows where column 'delinq_2yrs' has missing values
df_test_two.dropna(axis=0, subset=['delinq_2yrs'], inplace = True)

In [185]:
df_test_two.dropna(axis=0, subset=['revol_util'], inplace = True)

In [186]:
df_test_two.dropna(axis=0, subset=['last_credit_pull_d'], inplace = True)

In [187]:
df_test_two.dropna(axis=0, subset=['tot_coll_amt'], inplace = True)

In [211]:
## Setting df_test_three equal to df_test_two
df_test_three = df_test_two

In [212]:
## Dropping the columns with missing values
df_test_three = df_test_three.drop('inq_fi', 1)
df_test_three = df_test_three.drop('total_cu_tl', 1)

In [213]:
## Deleting columns open_acc_6m, open_il_12m, and open_il_24m
open_ls = ['open_acc_6m', 'open_il_12m', 'open_il_24m']
df_test_three = df_test_three.drop(open_ls, 1)

In [214]:
## Dropping more columns with missing values
del_test_one = ['mths_since_rcnt_il', 'total_bal_il', 'il_util'] 
del_test_two = ['open_rv_12m', 'open_rv_24m', 'max_bal_bc']
del_test_three = ['all_util', 'inq_last_12m']
df_test_three = df_test_three.drop(del_test_one, 1)
df_test_three = df_test_three.drop(del_test_two, 1)
df_test_three = df_test_three.drop(del_test_three, 1)

In [235]:
## There are no more missing values at this point
df_test_obj = df_test_three

In [237]:
## Code template to convert to int 64
# df_test_obj['term'] = df_test_obj.term.str.extract('(\d+)')
# df_test_obj['term'] = df_test_obj['term'].astype('int64')

In [238]:
df_test_obj['term'] = df_test_obj.term.str.extract('(\d+)')
df_test_obj['term'] = df_test_obj['term'].astype('int64')

In [239]:
df_test_obj['emp_length'] = df_test_obj.emp_length.str.extract('(\d+)')
df_test_obj['emp_length'] = df_test_obj['emp_length'].astype('int64')

In [240]:
df_test_obj['earliest_cr_line'] = df_test_obj.earliest_cr_line.str.extract('(\d+)')
df_test_obj['earliest_cr_line'] = df_test_obj['earliest_cr_line'].astype('int64')

In [241]:
df_test_obj['issue_d'] = df_test_obj.issue_d.str.extract('(\d+)')
df_test_obj['issue_d'] = df_test_obj['issue_d'].astype('int64')

In [242]:
df_test_obj['zip_code'] = df_test_obj.zip_code.str.extract('(\d+)')
df_test_obj['zip_code'] = df_test_obj['zip_code'].astype('int64')

In [243]:
df_test_obj['last_pymnt_d'] = df_test_obj.last_pymnt_d.str.extract('(\d+)')
df_test_obj['last_pymnt_d'] = df_test_obj['last_pymnt_d'].astype('int64')

In [244]:
df_test_obj['last_credit_pull_d'] = df_test_obj.last_credit_pull_d.str.extract('(\d+)')
df_test_obj['last_credit_pull_d'] = df_test_obj['last_credit_pull_d'].astype('int64')

In [246]:
## All numbers hidden in objects were converted into int64
df_test_dummy = df_test_obj

In [ ]:
## Code template to convert to dummy variable
# df_test_dummy['pymnt_plan']
# df_test_dummy = pd.concat([df_test_dummy.drop('pymnt_plan', axis = 1), pd.get_dummies(df_test_dummy['pymnt_plan'], prefix = 'pymnt_plan')], axis = 1)

In [248]:
df_test_dummy = pd.concat([df_test_dummy.drop('initial_list_status', axis = 1), pd.get_dummies(df_test_dummy['initial_list_status'], prefix = 'initial_list_status')], axis = 1)

In [249]:
df_test_dummy = pd.concat([df_test_dummy.drop('home_ownership', axis = 1), pd.get_dummies(df_test_dummy['home_ownership'], prefix = 'home_ownership')], axis = 1)

In [250]:
df_test_dummy = pd.concat([df_test_dummy.drop('pymnt_plan', axis = 1), pd.get_dummies(df_test_dummy['pymnt_plan'], prefix = 'pymnt_plan')], axis = 1)

In [251]:
df_test_dummy = pd.concat([df_test_dummy.drop('purpose', axis = 1), pd.get_dummies(df_test_dummy['purpose'], prefix = 'purpose')], axis = 1)

In [252]:
df_test_dummy = pd.concat([df_test_dummy.drop('addr_state', axis = 1), pd.get_dummies(df_test_dummy['addr_state'], prefix = 'addr_state')], axis = 1)

In [253]:
df_test_dummy = pd.concat([df_test_dummy.drop('new_emp_title', axis = 1), pd.get_dummies(df_test_dummy['new_emp_title'], prefix = 'new_emp_title')], axis = 1)

In [256]:
## Putting values in 'grade' with value_counts below 90000 into the category grade_EFG
x = df_test_dummy['grade'].value_counts()
df_test_dummy['grade_ABCD'] = np.where(df_test_dummy['grade'].isin(x.index[x >= 90000]), df_test_dummy['grade'], 'grade_EFG')

In [257]:
## Creating dummy variables for a column 'grade'
df_test_dummy = pd.concat([df_test_dummy.drop('grade_ABCD', axis = 1), pd.get_dummies(df_test_dummy['grade_ABCD'], prefix = 'grade_ABCD')], axis = 1)

In [ ]:
## Putting values in 'grade' with value_counts below 90000 into the category grade_EFG
x = df_test_dummy['grade'].value_counts()
df_test_dummy['grade_ABCD'] = np.where(df_test_dummy['grade'].isin(x.index[x >= 90000]), df_test_dummy['grade'], 'grade_EFG')

In [ ]:
## Creating dummy variables for a column 'grade'
df_test_dummy = pd.concat([df_test_dummy.drop('grade_ABCD', axis = 1), pd.get_dummies(df_test_dummy['grade_ABCD'], prefix = 'grade_ABCD')], axis = 1)

In [259]:
## Reasigning df_test_dummy to df_test_dummy_two
df_test_dummy_two = df_test_dummy

In [261]:
## Putting values in 'sub_grade' with value_counts below 90000 into the category grade_EFG
x = df_test_dummy_two['sub_grade'].value_counts()
df_test_dummy_two['sub_grade_ABCD'] = np.where(df_test_dummy_two['sub_grade'].isin(x.index[x >= 12000]), df_test_dummy_two['sub_grade'], 'sub_grade_EFG')

In [262]:
## Creating dummy variables for a column 'sub_grade'
df_test_dummy_two = pd.concat([df_test_dummy_two.drop('sub_grade_ABCD', axis = 1), pd.get_dummies(df_test_dummy['sub_grade_ABCD'], prefix = 'sub_grade_ABCD')], axis = 1)

In [307]:
df_test_dummy_three = df_test_dummy_two

In [ ]:
sub_to_drop_A = ['sub_grade_ABCD_A1', 'sub_grade_ABCD_A2', 'sub_grade_ABCD_A3', 'sub_grade_ABCD_A4', 'sub_grade_ABCD_A5']
sub_to_drop_B = ['sub_grade_ABCD_B1', 'sub_grade_ABCD_B2', 'sub_grade_ABCD_B3', 'sub_grade_ABCD_B4', 'sub_grade_ABCD_B5']
sub_to_drop_C = ['sub_grade_ABCD_C1', 'sub_grade_ABCD_C2', 'sub_grade_ABCD_C3', 'sub_grade_ABCD_C4', 'sub_grade_ABCD_C5']
sub_to_drop_defg = ['sub_grade_ABCD_D1', 'sub_grade_ABCD_D2', 'sub_grade_ABCD_D3', 'sub_grade_ABCD_D4', 'sub_grade_ABCD_D5','sub_grade_ABCD_sub_grade_EFG']

In [308]:
df_test_dummy_three = df_test_dummy_three.drop(sub_to_drop_A, 1)

In [309]:
df_test_dummy_three = df_test_dummy_three.drop(sub_to_drop_B, 1)

In [310]:
df_test_dummy_three = df_test_dummy_three.drop(sub_to_drop_C, 1)

In [311]:
df_test_dummy_three = df_test_dummy_three.drop(sub_to_drop_defg, 1)

In [313]:
df_test_dummy_four = df_test_dummy_three

In [323]:
new_emp_ls = ['new_emp_title_Driver', 'new_emp_title_Manager', 'new_emp_title_Other', 'new_emp_title_Owner', 'new_emp_title_RN', 'new_emp_title_Registered Nurse', 'new_emp_title_Sales', 'new_emp_title_Supervisor', 'new_emp_title_Teacher']

In [324]:
df_test_dummy_four = df_test_dummy_four.drop(new_emp_ls, 1)

In [331]:
df_test_dummy_five = df_test_dummy_four.drop('application_type', 1)

In [333]:
df_test_dummy_five = df_test_dummy_five.drop('verification_status', 1)

In [353]:
df_test_dummy_six = df_test_dummy_five

In [354]:
dummy_six_drop_ls = ['grade', 'sub_grade']
df_test_dummy_six = df_test_dummy_six.drop(dummy_six_drop_ls, 1)

In [ ]:
df_test_dummy_six

In [ ]:
## ### predictor variable ### ### 'loan_status' ###

In [356]:
x = df_test_dummy_six['loan_status'].value_counts()
df_test_dummy_six['loan_status_current'] = np.where(df_test_dummy_six['loan_status'].isin(x.index[x >= 100000]), df_test_dummy_six['loan_status'], 'Current')

In [357]:
x = df_test_dummy_six['loan_status'].value_counts()
df_test_dummy_six['loan_status_late'] = np.where(df_test_dummy_six['loan_status'].isin(x.index[x <= 40000]), df_test_dummy_six['loan_status'], 'Late')

In [358]:
di = {"Current": 0, "Fully Paid": 1, "Late": 2}

In [359]:
df_test_dummy_six = df_test_dummy_six.replace({"loan_status_current": di})

In [383]:
df_test_dummy_seven = df_test_dummy_six

In [385]:
loan_drop = ['loan_status', 'loan_status_late']
df_test_dummy_seven = df_test_dummy_seven.drop(loan_drop, 1)

In [386]:
df_test_dummy_seven['loan_status_current'] = df_test_dummy_seven['loan_status_current'].astype('int64')

In [388]:
### Exporting the cleaned testing dataset to csv
df_test_dummy_seven.to_csv('test_clean')